.root_vBox{
    -fx-background-color: grey;
    -fx-padding: 10 10 10 10px;
    -fx-border-color: black;
    -fx-border-width: 0 0 0 1px;
}

.playlist_name{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.playlist_item_count{
    -fx-font-size: 10px;
}

.playlist_track_scroll_pane{
    -fx-background-color: transparent;
}

.playlist_track_scroll_pane .viewport{
    -fx-background-color: darkgrey;
    -fx-background-radius: 20px;
}

.playlist_track_scroll_pane .scroll-bar{
    -fx-background-color: transparent;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.playlist_track_scroll_pane .track{
    -fx-background-color: transparent;
}

.playlist_track_scroll_pane .thumb{
    -fx-background-color: darkgrey;
}

.playlist_track_scroll_pane .increment-button, .playlist_track_scroll_pane .decrement-button{
    -fx-background-color: transparent;
    -fx-opacity: 0;              /* fully transparent */
    -fx-padding: 0;              /* remove size */
    -fx-shape: "";
}

.playlist_track_vBox{
    -fx-background-color: transparent;
    -fx-padding: 0 10 0 10px;
}